@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

.container {
  z-index: 0;
  position: relative;
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  width: 500px;
  margin: 40px 20px;
  background: white;
  padding: 5px 10px;
  -webkit-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.43);
  box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.43);
}

.container img {
  margin-right: 30px;
  margin-top: -40px;
}

.container button:first-child() {
  all: unset;
  font-size: 0.8em;
  font-weight: inherit;
  position: absolute;
  right: 0;
  top: 0;
  margin: 7px;
}

.container button:last-child() {
  all: unset;
  font-size: 0.8em;
  font-weight: inherit;
  position: absolute;
  right: 0;
  top: 20px;
  margin: 7px;
}

.container button:hover {
  text-decoration: underline;
}

.container h3 {
  margin: 5px 10px;
}

.container span {
  font-size: 0.9em;
}

.container p {
  font-size: 0.8em;
}
