@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap");

.Searching-container {
    z-index: 0;
    position: relative;
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    width: 500px;
    margin: 40px 20px;
    background: white;
    padding: 5px 10px;
    -webkit-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.43);
    box-shadow: 3px 3px 10px -1px rgba(0, 0, 0, 0.43);
}

.Searching-container img {
    margin-right: 30px;
    margin-top: -40px;
}

.Searching-container h3 {
    margin: 5px 10px;
}

.Searching-container span {
    font-size: 0.9em;
}

.Searching-container p {
    font-size: 0.8em;
}

.Searching-container input {
    position: absolute;
    bottom: -25px;
    right: -20px;
    margin: 10px;
    background: white;
    font-size: 0.9em;
    width: 70px;
    height: 30px;
    outline: none;
}

.Searching-container input:active {
    background: black;
    color: white;
}
